# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
.env/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Jupyter Notebook checkpoints (if you ever use them)
.ipynb_checkpoints/

